<div class="container">
  <svg viewBox="0 0 500 500" 
      preserveAspectRatio="xMinYMin meet"
      style="z-index: -2;">
        
      <path d="M0, 100 C150, 200 350,
          0 500, 100 L500, 00 L0, 0 Z"
          style="stroke: none; 
          fill:rgba(30, 144, 225, 0.5);">
      </path>
  </svg>
</div>

<div class="container">
  <svg viewBox="0 0 500 500" 
      preserveAspectRatio="xMinYMin meet"
      style="z-index:-1;">
        
      <path d="M0, 80 C300, 0 400, 
          300 500, 50 L500, 00 L0, 0 Z"
          style="stroke: none; 
          fill:rgba(153, 50, 204, 0.5);">
      </path>
  </svg>
</div>
<div class="container">
  <svg viewBox="0 0 500 500" 
      preserveAspectRatio="xMinYMin meet"
      style="z-index:-3;">
        
      <path d="M0, 100 C150, 300 350,
          0 500, 100 L500, 00 L0, 0 Z"
          style="stroke: none; 
          fill:rgba(220, 20, 60, 0.5);">
      </path>
  </svg>
</div>

<div class="container">
    <div class="row justify-content-md-center">
      <div >
        <div class="sidenav"  id="mySidenav">
             <a  id="add" routerLink="/addStage" data-toggle="tooltip" data-placement="bottom" title="Ajouter formateur">
                  add
             </a>
             <a id="home" routerLink="/dashboard">
                home
             </a>
        </div>
    <div id="content" class="col-6 align-self-center">
    
    <div *ngIf="stage">
    
        <h2>Edit {{stage.titre| uppercase}} </h2>
        
        <div class="col-auto">
            <div class="col-auto">
                <label for="inputname" class="form-label">titre</label>
                <select class="form-select" [(ngModel)]="stage.titre" id="autoSizingSelect" placeholder="titre">
                    <option value="observation">observation</option>
                    <option value="technicien">technicien</option>
                    <option value="PFE">PFE</option>
                  </select>
              </div>
              <div class="col-auto">
                <label for="inputname" class="form-label">Date de Debut</label>
                <input type="date" [(ngModel)]="stage.date_debut" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="date_debut">
              </div>
            <div class="col-auto">
              <label for="inputEmail4" class="form-label">Date de fin</label>
              <input type="date" [(ngModel)]="stage.date_fin" class="form-control" placeholder="date_fin">
            </div>
            <div class="col-auto">
              <label class="form-label" for="autoSizingSelect">Domaine</label>
              <input type="text" [(ngModel)]="stage.domaine" class="form-control" placeholder="Domaine">
            </div>
            
            <div class="col-12">
                <button class="btn btn-outline-secondary"(click)="goBack()">go back</button>
                <button class="btn btn-outline-info" (click)=save()>save </button>
            </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    